button {
  background-color: #ae7a5a !important;
  border: none !important;
}

hr {
  color: #ae7a5a;
  border: solid 2.5px;
  width: 50px;
}

.brownText {
  color: #ae7a5a;
  font-weight: bold;
}

.sectionOne {
  background-image: url("./images/foto1.jpeg");
  height: 130vh;
  background-size: cover;
  position: relative;
  .introduccion {
    padding-top: 40vh;
    padding-right: 10vw;
    display: flex;
    justify-content: right;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: right;
    color: white;
  }
}

.logoBarber {
  width: 10vw;
  position: absolute;
  left: 27%;
  top: 85%;
  translate: -25% -25%;
}

@media (max-width: 767px) {
  .sectionOne {
    background-size: cover;
    background-position: 15%;
  }

  .logoBarber {
    width: 40vw;
    left: 35%;
    top: 50%;
  }
  .introduccion {
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
  }
}

.containerBackground {
  background-color: #f8fbf6;
}

.sectionTwo {
  padding-top: 5rem;

  .containerImgBarber {
    display: flex;
    justify-content: center;
  }
  img {
    border-radius: 5px;
  }
}

@media (max-width: 767px) {
  .sectionTwo {
    padding-top: 1rem;
    .info {
      padding-top: 1rem;
    }
    .containerImgBarber {
      padding-top: 2rem;
    }
  }
}
