@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: "PT Serif", serif;
}

button {
  background-color: #ae7a5a !important;
  border: none !important;
}

th,
td {
  padding-left: 5px;
}

table {
  padding: 50px;
}

hr {
  color: #ae7a5a;
  border: solid 2.5px;
  width: 50px;
}

.brandTitle {
  font-weight: bolder;
}

.brownText {
  color: #ae7a5a;
  font-weight: bold;
}

.subtitle-barber {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.section-one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/foto1.jpeg");
  height: 130vh;
  background-size: cover;
  mix-blend-mode: multiply;
  position: relative;
}
.section-one .introduction {
  padding-top: 40vh;
  padding-right: 10vw;
  display: flex;
  justify-content: right;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: right;
  color: white;
}

.logo-barber {
  width: 10vw;
  position: absolute;
  left: 27%;
  top: 85%;
  translate: -25% -25%;
}

@media (max-width: 767px) {
  .section-one {
    background-size: cover;
    background-position: 15%;
  }
  .logo-barber {
    width: 40vw;
    left: 40%;
    top: 50%;
  }
  .introduction {
    padding-right: 0vw !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .logo-barber {
    left: 80%;
    top: 45%;
  }
}
.container-background {
  background-color: #f8fbf6;
}

.section-two {
  padding: 5rem;
}
.section-two .container-img-barber {
  display: flex;
  justify-content: center;
}
.section-two img {
  border-radius: 5px;
}

@media (max-width: 767px) {
  .section-two .info {
    padding-top: 1rem;
  }
  .section-two .container-img-barber {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.section-three {
  padding: 5rem;
}
.section-three img {
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.4rem;
  border-radius: 20px;
}
.section-three .images-container {
  display: flex;
  justify-content: center;
}

.section-four {
  padding: 5rem;
  background-color: #ccd0cb;
}

.cover-image-logo-big {
  background-image: url("./images/logo2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

@media (max-width: 767px) {
  .section-four {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.section-five {
  position: relative;
  padding: 5rem;
}
.section-five .minibox {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}
.section-five .presentation-sec-five {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  background-color: rgba(51, 51, 51, 0.95);
  border: #333333 5px solid;
  color: white;
  box-shadow: inset 0 0 0 2px white;
  width: 40vw;
}
.section-five .shaved {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 40%;
  bottom: 5%;
  z-index: -1000;
  width: 30vw;
  border-radius: 10px;
}
.section-five .portraid {
  width: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
  border: white 7px solid;
  outline: 1px solid grey;
}

@media (max-width: 767px) {
  .section-five .presentation-sec-five {
    width: 60vw;
  }
  .section-five .portraid {
    width: 40vw;
  }
  .section-five .shaved {
    position: initial;
    width: 60vw;
  }
}
.section-six {
  padding: 5rem;
  background-color: #d7dbd6;
}
.section-six img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .section-six {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .section-six-sub-container {
    display: block;
  }
}
.section-seven {
  padding: 5rem;
  background-color: #ccd0cb;
}
.section-seven .portrait-pic {
  border: 5px solid black;
}
.section-seven .section-seven-container {
  display: flex;
  background-color: white;
  border-radius: 5px;
  justify-content: center;
}
.section-seven img {
  width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .section-seven .section-seven-container {
    display: block;
  }
}
.section-eight {
  padding: 5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/foto15.jpeg");
  background-position: 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.section-eight .comillas {
  font-weight: bolder;
  padding: 0;
  font-size: 5rem;
  margin-bottom: -2rem;
}
.section-eight .testimonials {
  text-align: center;
  padding: 1rem;
  color: white;
  border: 1px solid white;
  width: 50vw;
}

@media (max-width: 767px) {
  .section-eight .testimonials {
    padding: 1rem;
    text-align: center;
    width: 80vw;
  }
}
footer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: black;
}
footer .container-footer {
  gap: 10px;
}
footer .container-logos-SM {
  display: flex;
  justify-content: space-evenly;
}
footer .logo-footer {
  width: 10vw;
}
footer .social-media-logos {
  width: 2rem;
}

@media (max-width: 767px) {
  footer .logo-footer {
    width: 15vw;
  }
}/*# sourceMappingURL=style.css.map */